@CHARSET "UTF-8";

html, body{
	height:auto !important;
}

.general_errors .error, .errors span{ 
	background-color: #f2dede;
	color:#a94442;
}
.general_notices .notice, .notices span{ 
	background-color: orange;
}

.custom-bootstrap
{
	padding: 10px 10px 0 !important;
	width:80%;
}


span.sended{
	background-color:#8A2BE2;
	color:white !important; 
}
span.waiting{
	background-color:#32CD32;
	color:#383838 !important;
}

#navbar-collapse ul li a span {
    margin-right: 5px;
}

#dropdown-hidden
{
	height:150px;
	clear:both;	
}

.imgm
{	
	float: left;
    margin-bottom: 3px;
    margin-right: 15px;
}
