
#subtab-DhlAssistantShipmentPresetsList a,
#subtab-DhlAssistantShipmentsList a,
#subtab-DhlAssistantPnpReport a,
#subtab-DhlAssistantSettingsEdit a,
#subtab-DhlAssistantHelp a
{
	background-image: url("../Images/CarrierLogoSmall.jpg") !important;
	background-position: left center !important;
	background-repeat: no-repeat !important;
	padding-left: 65px !important;
}